# ignored files in the home directory
# ~/.gitignore-global is now git's systemwide ignore file.

# ignore any file or dir that doesn't begin with a dot
/[^.]*
# ignore all directories, they're rarely worth versioning
/.[^.]*/

# put ssh commands alieases etc that you want to keep private here
/.bashrc-private

# ignore these common files
/.dotfiles.git
/.viminfo
/.*[._-]history
/.*[._-]auth
/.*[._-]lock
/.*[._-]cookie
/.xsession-errors*

# finally, these need special-casing
/.ICEauthority
/.dmrc
/.gitk
/.gtk-bookmarks
/.guvcviewrc
/.lesshst
/.sudo_as_admin_successful

