[submodule ".rbenv/plugins/rbenv-default-gems"]
	path = .rbenv/plugins/rbenv-default-gems
	url = https://github.com/sstephenson/rbenv-default-gems.git
[submodule "/Users/bronson/.rbenv/plugins/rbenv-ctags"]
	path = /Users/bronson/.rbenv/plugins/rbenv-ctags
	url = git://github.com/tpope/rbenv-ctags.git
