# ignores for just this dotfiles repo

# EITHER ignore all, then don't ignore:
#/*
#!.bash/*
#!bin/*

# OR, just ignore non-dot and known unimportant:
/[^.]*
/.account
/.bash_history
/.cups
/.CFUserTextEncoding
/.dotfiles.git
/.gitk
/.lesshst
/.macports
/.mysql_history
/.p4*
/.ssh
/.Trash

# ignore private files (sensitive passwords, etc)
/.bash/private*

