"*":
  welcome:
    showOnStartup: false
  linter:
    subtleLinterErrors: [
      "haml-lint"
    ]
    lintOnFly: false
  "isotope-ui": {}
  autosave:
    enabled: true
  "autocomplete-plus": {}
  "fuzzy-finder": {}
  core:
    disabledPackages: [
      "metrics"
      "exception-reporting"
      "wrap-guide"
      "vim-mode"
    ]
    themes: [
      "one-dark-ui"
      "oceanic-reef-syntax"
    ]
  editor:
    invisibles: {}
    autoIndentOnPaste: false
  "markdown-preview": {}
  "git-log": {}
  "cursor-history": {}
  "linter-jshint": {}
  "atom-ternjs": {}
  "vim-mode": {}
