"*":
  "advanced-open-file":
    createFileInstantly: true
  "atom-ternjs": {}
  "autocomplete-plus":
    confirmCompletion: "tab"
  autosave:
    enabled: true
  blame: {}
  "bracket-matcher":
    autocompleteBrackets: false
    autocompleteSmartQuotes: false
  build:
    saveOnBuild: true
  core:
    audioBeep: false
    disabledPackages: [
      "exception-reporting"
      "welcome"
      "background-tips"
      "metrics"
    ]
    packagesWithKeymapsDisabled: [
      "rspec"
      "ruby-test-switcher"
      "rails-transporter"
      "todo-show"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "oceanic-reef-syntax"
    ]
  "cursor-history": {}
  editor:
    atomicSoftTabs: false
    autoIndentOnPaste: false
    backUpBeforeSaving: true
    invisibles: {}
  "file-icons":
    coloured: false
    onChanges: true
  "find-and-replace":
    openProjectFindResultsInRightPane: true
  "fuzzy-finder": {}
  "git-blame":
    columnWidth: 250
  "git-blame-plus": {}
  "git-log": {}
  "git-plus": {}
  "highlight-selected": {}
  "isotope-ui": {}
  "keybinding-cheatsheet": {}
  linter:
    lintOnFly: false
    subtleLinterErrors: [
      "haml-lint"
    ]
  "linter-jshint": {}
  "linter-reek": {}
  "linter-rubocop": {}
  "linter-ruby": {}
  "markdown-preview": {}
  "merge-conflicts": {}
  notifications: {}
  pigments: {}
  racer:
    racerBinPath: "/Users/bronson/.cargo/bin/racer"
    rustSrcPath: "/Users/bronson/.multirust/toolchains/stable-x86_64-apple-darwin/lib/rustlib/src/rust/src"
  "rails-transporter":
    viewFileExtension: [
      "html.erb"
      "text.erb"
      "html.slim"
      "html.haml"
    ]
  react: {}
  "rubocop-auto-correct": {}
  "smart-tab-name": {}
  "sync-settings":
    _analyticsUserId: "1453367b-1a72-4326-91d2-3533ad77a2c5"
    _lastBackupHash: "3aa0276390ee8913b77a2b2b6cf6926c9a043b19"
    analytics: false
    gistId: "160b027786af6dfa160a00e414279304"
    personalAccessToken: "e31ae70e6cdeaed3df78c785169c782574aaebc3"
  tabs:
    enableVcsColoring: true
  "tree-view":
    hideIgnoredNames: true
  "vim-mode": {}
  "vim-mode-next": {}
  "vim-mode-plus":
    flashOnUndoRedo: true
    flashOnUndoRedoDuration: 300
    highlightSearch: true
    incrementalSearch: true
    incrementalSearchVisitDirection: "relative"
    setCursorToStartOfChangeOnUndoRedo: true
    showHoverOnOperate: true
    showHoverSearchCounter: true
    smoothScrollOnFullScrollMotion: true
    smoothScrollOnFullScrollMotionDuration: 200
    smoothScrollOnHalfScrollMotion: true
    smoothScrollOnHalfScrollMotionDuration: 200
    stayOnDelete: true
    stayOnTransformString: true
    stayOnYank: true
  "vim-surround": {}
  welcome:
    showOnStartup: false
  zentabs:
    maximumOpenedTabs: 8
