# evil!  if any selector matches one previous, it just overrides all
# its maps.  you can only have a single of each selector in a file.

'body':
  # cmd-p, ctrl-p: it's all the same to me
  'ctrl-p': 'fuzzy-finder:toggle-file-finder'

'atom-text-editor':
  # for some reason Atom doesn't give replace next a shortcut or a button!
  'cmd-alt-g': 'find-and-replace:replace-next'

'atom-text-editor.vim-mode-plus.normal-mode':
  ':': 'vim-mode-plus-ex-mode:open'
  '!': 'vim-mode-plus-ex-mode:toggle-setting'

  '-': 'tree-view:show'

  'ctrl-w x':     'paner:swap-item'
  'ctrl-w X':     'paner:send-item'
  'ctrl-w enter': 'paner:maximize'
  'ctrl-w K':     'paner:very-top'
  'ctrl-w J':     'paner:very-bottom'
  'ctrl-w H':     'paner:very-left'
  'ctrl-w L':     'paner:very-right'

  'g f':      'open-this:here'
  'ctrl-w f': 'open-this:split-down'
  'ctrl-w F': 'open-this:split-right'

  # still not sure how vim-mode-plus's surround works
  'y s': 'vim-mode-plus:surround'
  'y s w': 'vim-mode-plus:surround-word'
  'd s': 'vim-mode-plus:delete-surround'
  'y s c': 'vim-mode-plus:change-surround'
  'c s': 'vim-mode-plus:change-surround'
  'y m s':  'vim-mode-plus:map-surround'

'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  ')': 'vim-mode-plus:move-to-next-sentence-skip-blank-row'
  '(': 'vim-mode-plus:move-to-previous-sentence-skip-blank-row'

'.preview-pane.project-find-navigation':
  'l':     'core:move-right'
  'h':     'core:move-left'
  'j':     'project-find-navigation:select-next-and-confirm'
  'k':     'project-find-navigation:select-prev-and-confirm'
  'enter': 'project-find-navigation:confirm'

'atom-workspace:not([mini])':
  'cmd-ctrl-shift-f': 'project-find-navigation:activate-results-pane'
  'ctrl-cmd-n': 'project-find-navigation:next'
  'ctrl-cmd-p': 'project-find-navigation:prev'
  'ctrl-shift-N': 'project-find-navigation:next'
  'ctrl-shift-P': 'project-find-navigation:prev'

# some easier-to-hit keybindings for rspec testing
'atom-workspace':
  'ctrl-cmd-t': 'rspec:run'
  'ctrl-cmd-r':	'rspec:run-for-line'
  'ctrl-cmd-e':	'rspec:run-last'
  'ctrl-cmd-shift-R':	'rspec:run-all'
  'ctrl-cmd-shift-T':	'rspec:run-all'
  'ctrl-cmd-shift-E':	'rspec:run-all'
  # and add ability to swtich between source and test file
  # 'cmd-ctrl-.': 'ruby-test-switcher:switch'
  'cmd-shift-.': 'ruby-test-switcher:switch-without-split'

  'ctrl-i': 'cursor-history:next'
  'ctrl-o': 'cursor-history:prev'
  'ctrl-cmd-i': 'cursor-history:next-within-editor'
  'ctrl-cmd-o': 'cursor-history:prev-within-editor'
