'body':
  'ctrl-p': 'fuzzy-finder:toggle-file-finder'

'atom-workspace':
  'ctrl-i': 'cursor-history:next'
  'ctrl-o': 'cursor-history:prev'
  'ctrl-cmd-i': 'cursor-history:next-within-editor'
  'ctrl-cmd-o': 'cursor-history:prev-within-editor'

'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  '-': 'tree-view:show'

# temporary workaround for issue in https://github.com/atom/vim-mode/pull/568
# 'atom-text-editor.vim-mode-plus.insert-mode':
#   'up': 'unset!'
#   'down': 'unset!'

# 'atom-text-editor':
#   'ctrl-s': 'lazy-motion:forward'
#   'ctrl-S': 'lazy-motion:backward'

# '.platform-darwin atom-text-editor.lazy-motion':
#   'ctrl-s': 'lazy-motion:forward'
#   'ctrl-shift-S': 'lazy-motion:backward'
#   'ctrl-g': 'lazy-motion:forward'
#   'ctrl-shift-G': 'lazy-motion:backward'
#   'cmd-g': 'lazy-motion:forward'
#   'cmd-shift-G': 'lazy-motion:backward'
#   ']': 'lazy-motion:forward'
#   '[': 'lazy-motion:backward'

'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  'ctrl-w x':     'paner:swap-item'
  'ctrl-w X':     'paner:send-item'
  'ctrl-w enter': 'paner:maximize'
  'ctrl-w K':     'paner:very-top'
  'ctrl-w J':     'paner:very-bottom'
  'ctrl-w H':     'paner:very-left'
  'ctrl-w L':     'paner:very-right'

'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  ':': 'user-ex-command-open'

'.preview-pane.project-find-navigation':
  'l':     'core:move-right'
  'h':     'core:move-left'
  'j':     'project-find-navigation:select-next-and-confirm'
  'k':     'project-find-navigation:select-prev-and-confirm'
  'enter': 'project-find-navigation:confirm'
'atom-workspace:not([mini])':
  'cmd-ctrl-shift-f': 'project-find-navigation:activate-results-pane'
  'ctrl-cmd-n': 'project-find-navigation:next'
  'ctrl-cmd-p': 'project-find-navigation:prev'
  'ctrl-shift-N': 'project-find-navigation:next'
  'ctrl-shift-P': 'project-find-navigation:prev'

# some easier-to-hit keybindings for rspec testing
'atom-workspace':
  'ctrl-cmd-t': 'rspec:run'
  'ctrl-cmd-r':	'rspec:run-for-line'
  'ctrl-cmd-e':	'rspec:run-last'
  'ctrl-cmd-shift-R':	'rspec:run-all'
  'ctrl-cmd-shift-T':	'rspec:run-all'
  'ctrl-cmd-shift-E':	'rspec:run-all'
