packages: [
  "advanced-open-file"
  "autocomplete-elixir"
  "build"
  "build-cargo"
  "build-make"
  "busy"
  "color-picker"
  "cursor-history"
  "file-icons"
  "git-control"
  "git-plus"
  "git-time-machine"
  "highlight-selected"
  "language-apache"
  "language-elixir"
  "language-haml"
  "language-rust"
  "language-viml"
  "linter"
  "linter-clang"
  "linter-coffeelint"
  "linter-csslint"
  "linter-elixir-credo"
  "linter-elixirc"
  "linter-erb"
  "linter-eslint"
  "linter-haml"
  "linter-js-yaml"
  "linter-jsonlint"
  "linter-reek"
  "linter-rubocop"
  "linter-ruby"
  "linter-rust"
  "linter-tidy"
  "linter-write-good"
  "merge-conflicts"
  "oceanic-reef-syntax"
  "open-this"
  "package-sync"
  "paner"
  "phoenix-elixir-snippets"
  "project-find-navigation"
  "racer"
  "rails-transporter"
  "react"
  "rspec"
  "rubocop-auto-correct"
  "ruby-test-switcher"
  "script"
  "todo-show"
  "vim-mode-plus"
  "vim-mode-plus-ex-mode"
  "white-cursor"
]
