# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:

'.source.coffee':
  'Console log':
    'prefix': 'cl'
    'body': 'console.log $1'

'.source.ruby':
  'byebug':
    'prefix': 'bye'
    'body': 'require \'byebug\'; byebug'
# https://github.com/atom/snippets/issues/107
  'byebug (short)':
    'prefix': 'by'
    'body': 'require \'byebug\'; byebug'
